.disciplinas{
    width: 500px;
    position: absolute;
    left: 450px;
    padding: 20px;
    background: lightgreen;
    border-radius: 5px;
    border: 1px solid #ddd;
    display: flex;
    flex-direction: row;    
}

.disciplinas .block-link{
    background: green;
    border: 1px solid #DDD;
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 20px;    
    align-items: center;  
}
.disciplinas .block-link:hover{
    background-color: lime;
    cursor: pointer;
}

.disciplinas .block-link img{
    width: 90px;
    height: 80px;
    padding-left: 2px;
}
.disciplinas p{
    padding-left: 3px;
    font-size: 18px;
    color: black;
    margin-top: 5px;
    line-height: 24px;
}

.body .links-informacoes{
    margin-left: 100px;
    padding-left: 2px;
    display: flex;
    flex-direction: column;
    border: 1px solid green;
    border-radius: 5px;
    width: 100px;
}

.body .links-informacoes a{
    color: black;
    font-size: 16px;
}

.body .links-informacoes a:hover{
    color: white;
}

.info{
    position: relative;
    left: 280px;
    display: flex;
}
.info a{
    font-size: 18px;
    color: black;
}
.info a:hover{
    color: white;
}

.info .equipe{
    border: 1px solid green;
    border-radius: 5px;
    padding-left: 2px;
    padding-right: 2px;
    background: lightgreen;
}
.info .projeto{
    border: 1px solid green;
    border-radius: 5px;
    padding-left: 2px;
    padding-right: 2px;
    background: lightgreen;
}