.main{
    background: limegreen;
    height: 100vh;
    display: flex;
    flex-direction: column;    
}

.main .head{
    padding-top: 25px;
    padding-bottom: 125px;
}

.main .info{
    padding-bottom: 10px;
}