.main .head{
    background-color: #0A5517;
    width: 200vh;
    padding-top: 15px;
    padding-bottom: 125px;
    display: flex;
    flex-direction: column-reverse;  
}

.main{
    background-color: #6AB734;
    height: 100vh;
    width: 200vh;
}