.main .head{
    padding-top: 15px;
    padding-bottom: 125px;
    display: flex;
    flex-direction: column-reverse;  
}

.main{
    background-image: url(./img/IMG_6474-1024x683.jpeg);
    background-repeat: repeat;
    background-position: center;
    background-size: cover;        
    background-color: #6AB734;
    height: 800px;
}