.videos{
    background-color: limegreen;
    height: 100vh;    
}

.videos .lista_videos .modals{
    margin-left: 300px;
    max-width: 480px;
    max-height: 280px;       
}

.videos .lista_videos a{
    max-width: 150px;
    border: 1px solid lightgreen;
    border-radius: 5px;
    color: black;
    padding: 5px;
    font-size: 18px;
    font-weight: bold;
    display: flex;
    flex-direction: row;
}

.videos .lista_videos a:hover{
    background: lime;
    color: white;
}
